$theme-black: #000;
$theme-white: #fff;
$theme-neon-green: #98fc4d;
$theme-purple: #5c328a;
$theme-login-shadow-grey: rgba(0, 0, 0, .4);
$theme-beer-transparent-grey: rgba(0, 0, 0, .3);
$theme-input-light-grey: #ccc;
$theme-pager-grey: #ddd;
$theme-button-hover-grey: #666;
$theme-button-focus-grey: #bbb;
$theme-error-red: #f00;
